.symbol {
  margin-left: 1rem;
  font-size: 4rem;
  color: var(--dark-blue);
}

.light {
  padding: 0.35rem;
  background-color: var(--light-blue);
}

.medium {
  padding: 0.35rem;
  background-color: var(--medium-blue);
}

.inspect {
  padding: 0.3rem;
  display: grid;
  grid-template-columns: 42% 58%;
  line-height: 1.5;
}

.inspectSymbol {
  font-size: 6rem;
  color: var(--dark-blue);
}

.groupElement:nth-child(even) {
  background-color: var(--medium-blue);
}
