/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

:root {
  --light-blue: #5889E5;
  --medium-blue: #35548B;
  --dark-blue: #2D4573;
  --font-color: #fbfff1;
}

body {
  margin: 0;
  background-color: var(--light-blue);
  color: var(--font-color);
  font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a:hover {
  text-decoration: none;
}
